In [1]:
'''
Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.
'''

'\nЗадание 1. Загрузка данных\nИзучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.\n\nЗадание 2. Первичное изучение данных\nПроанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.\n'

In [ ]:
import pandas as pd

In [ ]:
#Задание 1
horse_data = pd.read_csv('horse_data.csv', names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature',\
                                                    'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                                                    'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', \
                                                    'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', \
                                                    'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_-_feces',\
                                                    'abdomen', 'packed_cell_volume', 'total_protein', \
                                                    'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', \
                                                    'surgical_lesion?', 'site_of_lesion', 'type', 'specific_code', 'cp_data'], \
                         sep = ',', header=0, na_values='?')
horse_data = horse_data[['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                         'pain', 'outcome']]
horse_data['surgery'] = horse_data.surgery.astype('Int64')
horse_data['pain'] = horse_data.pain.astype('Int64')
horse_data['outcome'] = horse_data.outcome.astype('Int64')

In [ ]:
# Задание 2
# Уникальные значения столбцов
print(horse_data['surgery'].unique())
print(horse_data['age'].unique())
print(horse_data['rectal_temperature'].unique())
print(horse_data['pulse'].unique())
print(horse_data['respiratory_rate'].unique())
print(horse_data['temperature_of_extremities'].unique())
print(horse_data['pain'].unique())
print(horse_data['outcome'].unique())

In [ ]:
horse_data.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
# Моды
print(horse_data['surgery'].mode()[0])
print(horse_data['age'].mode()[0])
print(horse_data['rectal_temperature'].mode()[0])
print(horse_data['pulse'].mode()[0])
print(horse_data['respiratory_rate'].mode()[0])
print(horse_data['temperature_of_extremities'].mode()[0])
print(horse_data['pain'].mode()[0])
print(horse_data['outcome'].mode()[0])

1
1
38.0
48.0
20.0
3.0
3
1

In [ ]:
# Дисперсии
print(horse_data['surgery'].var())
print(horse_data['age'].var())
print(horse_data['rectal_temperature'].var())
print(horse_data['pulse'].var())
print(horse_data['respiratory_rate'].var())
print(horse_data['temperature_of_extremities'].var())
print(horse_data['pain'].var())
print(horse_data['outcome'].var())

0.23998372991661587
4.740634329195755
0.5380345276185787
822.5723424021243
312.5207468879668
1.09488827670646
1.7003980300883765
0.5445958466092694

In [ ]:
#Задание 2
horse_data_clear = horse_data
horse_data_clear

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,1,39.2,88.0,20.0,NaN,3,3
1,2,1,38.3,40.0,24.0,1.0,3,1
2,1,9,39.1,164.0,84.0,4.0,2,2
3,2,1,37.3,104.0,35.0,NaN,<NA>,2
4,2,1,NaN,NaN,NaN,2.0,2,1
...,...,...,...,...,...,...,...,...
294,1,1,NaN,120.0,70.0,4.0,2,3
295,2,1,37.2,72.0,24.0,3.0,4,3
296,1,1,37.5,72.0,30.0,4.0,4,2
297,1,1,36.5,100.0,24.0,3.0,3,1
298,1,1,37.2,40.0,20.0,NaN,<NA>,3

In [ ]:
(horse_data_clear.isna().mean() * 100).round(2)

surgery                        0.33
age                            0.00
rectal_temperature            20.07
pulse                          8.03
respiratory_rate              19.40
temperature_of_extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

In [ ]:
horse_data_clear['surgery'].fillna(horse_data_clear['surgery'].mode()[0], inplace=True)
print(horse_data_clear['surgery'].isna().sum())
print(horse_data_clear['surgery'].unique())

0
<IntegerArray>
[1, 2]
Length: 2, dtype: Int64

In [ ]:
horse_data_clear['outcome'].fillna(horse_data_clear['outcome'].mode()[0], inplace=True)
print(horse_data_clear['outcome'].isna().sum())
print(horse_data_clear['outcome'].unique())

0
<IntegerArray>
[3, 1, 2]
Length: 3, dtype: Int64

In [ ]:
fill_median = horse_data_clear

fill_median['pain'].fillna(horse_data_clear['pain'].median(), inplace=True)
print(fill_median['pain'].fillna(horse_data_clear['pain'].median()).isna().sum())
print(fill_median['pain'].unique())

0
<IntegerArray>
[3, 2, 4, 5, 1]
Length: 5, dtype: Int64

In [ ]:
print(fill_median['pain'].describe())

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [ ]:
fill_moda = horse_data_clear

fill_moda['pain'].fillna(horse_data_clear['pain'].mode()[0], inplace=True)
print(fill_moda['pain'].isna().sum())
print(fill_moda['pain'].unique())

0
<IntegerArray>
[3, 2, 4, 5, 1]
Length: 5, dtype: Int64

In [ ]:
print(fill_moda['pain'].describe())

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [ ]:
horse_data_clear['pain'].fillna(horse_data_clear['pain'].mode()[0], inplace=True)
print(horse_data_clear['pain'].isna().sum())
print(horse_data_clear['pain'].unique())

0
<IntegerArray>
[3, 2, 4, 5, 1]
Length: 5, dtype: Int64

In [ ]:
horse_data_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        299 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB

In [ ]:
horse_data_clear['rectal_temperature'].fillna(horse_data_clear.groupby(['surgery', 'age'])['rectal_temperature'].transform('median'), inplace=True)
horse_data_clear['pulse'].fillna(horse_data_clear.groupby(['pain', 'age'])['pulse'].transform('median'), inplace=True)
horse_data_clear['temperature_of_extremities'].fillna(horse_data_clear.groupby(['age', 'outcome'])['temperature_of_extremities'].transform('median'), inplace=True)
horse_data_clear['respiratory_rate'].fillna(horse_data_clear.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

In [ ]:
horse_data_clear['respiratory_rate'].fillna(horse_data_clear['respiratory_rate'].median(), inplace=True)

In [ ]:
horse_data_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            299 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB